@import "../variables";

$angle: 90deg;

.card-container {
  position: relative;

  min-height: 600px;
  max-width: 450px;

  padding: 0.5rem;
  // margin-top: 2rem;

  text-align: justify;

  transition: 1s;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 4px solid white;
  &:hover {
    border-image-slice: 1;

    --angle: 360deg;

    animation: 15s rotate infinite linear;

    .card-header {
      transition-delay: 0.1s;
      transform: translateY(-10rem);
    }
    .overlay {
      transition-delay: 0.1s;

      bottom: 0;
      height: 70%;
    }
  }

  .card-header {
    margin-bottom: 1rem;

    transition: 1s;
  }

  .card-explaination {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;

    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    .card-explaination-wrapper {
      margin: 10px;
    }
  }

  .overlay {
    position: absolute;
    bottom: 100%;
    top: 30%;
    left: 0;
    right: 0;

    overflow: hidden;

    width: 100%;
    height: 0;

    transition: 0.5s ease;

    z-index: 1;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotate {
  to {
    --angle: 0deg;
  }
}

@media (prefers-color-scheme: dark) {
  .card-container {
    // border: 4px solid $third_color_light;
    // background-color: rgba($primary_background_dark, 0.1);
    // background-color: white;

    &:hover {
      border-image-source: conic-gradient(
        from var(--angle),
        $primary_color_dark 0deg,
        $third_color_dark 180deg,
        $secondary_color_dark 360deg
      );
    }
  }
}

@media (prefers-color-scheme: light) {
  .card-container {
    // border: 4px solid $third_color_light;

    &:hover {
      border-image-source: conic-gradient(
        from var(--angle),
        $primary_color_light 0deg,
        $secondary_color_light 180deg,
        $third_color_light 360deg
      );
    }
  }
}
