@import "../variables";

$angle: 90deg;

.card-container {
  position: relative;

  min-width: 370px;
  min-height: 470px;

  padding: 0.5rem;
  margin-top: 2rem;

  text-align: justify;

  // border: 1px solid $fourth_color_dark;

  transition: 1s;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:hover {
    border: 4px solid;
    border-image-slice: 1;

    // --angle: 0deg;

    // border-image-source: conic-gradient(
    //   from var(--angle),
    //   $primary_color_light 0deg,
    //   $secondary_color_light 90deg,
    //   $third_color_light 180deg,
    //   $fourth_color_light 360deg
    // );

    animation: 15s rotate infinite linear;

    .card-header {
      transition-delay: 0.1s;
      transform: translateY(-6rem);
      // color: $fourth_color_light;
    }
    .overlay {
      transition-delay: 0.1s;

      bottom: 0;
      height: 70%;
    }
  }

  .card-header {
    // font-size: 2rem;
    // text-align: center;
    // font-weight: 100;

    margin-bottom: 1rem;

    transition: 1s;
  }

  .card-explaination {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;

    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    // text-align: center;
    // line-height: 1.6rem;
    // font-size: 1.3rem;
    // font-weight: 200;

    .card-explaination-wrapper {
      margin: 10px;
    }
  }

  .overlay {
    position: absolute;
    bottom: 100%;
    top: 30%;
    left: 0;
    right: 0;

    overflow: hidden;

    width: 100%;
    height: 0;

    transition: 0.5s ease;

    z-index: 1;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotate {
  to {
    --angle: 0deg;
  }
}

@media (prefers-color-scheme: dark) {
  .card-container {
    background-color: $primary_background_dark;
  }
}

@media (prefers-color-scheme: light) {
  .card-container {
    border: 4px solid $third_color_light;

    &:hover {
      --angle: 360deg;

      border-image-source: conic-gradient(
        from var(--angle),
        $primary_color_light 0deg,
        $secondary_color_light 180deg,
        $third_color_light 360deg
      );
    }
  }
}
