@import "../variables";

.header-container {
  @include glassEffect;

  padding: 1rem 0.3rem;

  position: sticky;
  top: 0;

  z-index: 10;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  .header-left-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .header-logo {
      z-index: 5;
    }
  }

  .header-content {
    position: relative;

    margin-left: 3rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    font-size: 1.2rem;
    text-transform: capitalize;

    .header-footer {
      display: none;
    }

    a {
      text-decoration: none;
    }

    .header-content-item:not(.header-footer) {
      font-weight: 300;
      color: $primary_color_light;

      padding: 0.6rem 0.8rem;

      border-radius: 2rem;

      &:hover {
        transition: 0.4s;

        color: white;
        background-color: $primary_color_light;
      }
    }
  }

  .header-entry {
    padding: 0.8rem 1.2rem;

    border-radius: 2rem;

    .header-button {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: baseline;

      .header-button-text {
        font-size: 1rem;
        font-weight: 200;

        margin-right: 0.4rem;
      }
    }

    &:hover {
      cursor: pointer;

      .header-button-arrow {
        transition: 1s;
        transform: translateX(0.5rem);
      }
    }

    &:not(:hover) {
      .header-button-arrow {
        transition: 1s;
      }
    }

    .header-burger {
      position: absolute;
      top: 20px;
      right: 20px;

      display: none;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .header-container {
    .header-content {
      .header-footer {
        div {
          color: rgba($secondary_color_dark, 1);
        }
      }
    }

    .header-entry {
      background-color: $primary_color_light;
    }
  }
}

@media (prefers-color-scheme: light) {
  .header-container {
    box-shadow: 0px -2px 23px -1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px -2px 23px -1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px -2px 23px -1px rgba(0, 0, 0, 0.2);

    .header-content {
      .header-footer {
        div {
          color: red;
        }
      }
    }
  }

  .header-entry {
    background-color: $third_color_dark;
  }

  .header-button-text {
    color: $primary_color_dark;
  }

  .svg-arrow {
    color: $primary_color_dark;
  }
}

@media only screen and (max-width: 815px) {
  .header-container {
    .header-left-container {
      align-items: flex-end;

      .header-content {
        margin-left: 0rem;

        .header-content-item {
          font-size: 1rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 720px) {
  .header-container {
    .header-content {
      opacity: 0;
      transition: 0.5s;

      visibility: hidden;

      position: fixed;
      display: block;
      right: 0;
      top: 0;

      height: 100vh;
      width: 25%;

      padding-top: 4.7rem;
      margin-top: 4.75rem;

      .header-content-item:not(.header-footer) {
        padding: 0.8rem;

        border-radius: 0rem;

        font-size: 1.6rem;
      }

      .header-footer {
        display: block;

        margin-top: 3rem;
        padding: 1rem;

        width: 100%;

        font-size: 1rem;

        .header-footer-content-item {
          width: 100%;

          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          flex-wrap: wrap;

          margin-bottom: 4rem;

          :nth-child(n):not(:last-child) {
            margin-right: 0.5rem;
          }

          div:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }

        .header-footer-content-item > div,
        .header-footer-text {
          color: $primary_color_light;
          font-weight: 500;
        }
      }
    }

    .header-entry {
      background: unset;

      .header-burger {
        display: block;

        .open-btn {
          z-index: 3;
        }

        .close-btn {
          z-index: 5;
          display: none;
        }
      }

      .header-button {
        display: none;
      }
    }
  }

  @media (prefers-color-scheme: dark) {
    .header-container {
      .header-content {
        background-color: $primary_background_dark;
      }
      .header-entry {
        .header-burger {
          .open-btn,
          .close-btn {
            color: $primary_color_light;
          }
        }
      }
    }
  }

  @media (prefers-color-scheme: light) {
    .header-container {
      .header-content {
        background-color: white;
      }
      .header-entry {
        .header-burger {
          .open-btn,
          .close-btn {
            color: black;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .header-container {
    .header-content {
      width: 50%;
    }
  }
}
