@import "../variables";

.header-container {
  padding: 0.5rem 0;

  position: sticky;
  top: 0;

  backdrop-filter: blur(6px) saturate(200%);
  -webkit-backdrop-filter: blur(25px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.82);

  z-index: 10;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  .header-left-container {
    padding: 0 1rem;

    width: 30%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .header-content {
    width: 70%;

    margin-left: 3rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    font-size: 0.9rem;

    a {
      text-decoration: none;
    }

    .header-content-item {
      font-weight: bold;
      color: $primary_color_light;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .header-entry {
    margin-right: 1rem;
    padding: 0.8rem 1.2rem;

    border-radius: 2rem;
    .header-button {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: baseline;

      .header-button-text {
        font-size: 1rem;
        font-weight: 100;

        margin-right: 0.4rem;
      }
    }
    &:hover {
      cursor: pointer;

      .header-button-arrow {
        transition: 1s;
        transform: translateX(0.5rem);
      }
    }
    &:not(:hover) {
      transition: 1s;
      .header-button-arrow {
        transition: 1s;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .header-entry {
    background-color: $primary_color_light;
  }
}

@media (prefers-color-scheme: light) {
  .header-container {
    box-shadow: 0px -2px 23px -1px rgba(0, 0, 0, 0.46);
    -webkit-box-shadow: 0px -2px 23px -1px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 0px -2px 23px -1px rgba(0, 0, 0, 0.46);
  }
  .header-entry {
    background-color: $third_color;
    border: 1px solid $primary_color_dark;
  }

  .header-button-text {
    color: $primary_color_dark;
  }

  .svg-arrow {
    color: $primary_color_dark;
  }
}
