@import "../variables";

.benefits-wrapper {
  margin: 8rem 2rem 0 2rem;

  .benefits-container {
    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    margin-top: 5rem;
    padding: 3rem 2rem;

    &::after {
      content: "with";

      position: absolute;
      top: -70px;
      left: 80px;

      font-size: 4rem;
      font-weight: 400;
    }

    &::before {
      content: "Chronos";

      position: absolute;
      top: -40px;
      left: 80px;

      font-size: 10rem;
      font-weight: 500;
    }

    .benefits-title {
      position: relative;

      font-size: 4rem;
      font-weight: 200;

      border-radius: 1rem;

      padding: 1rem;

      .benefits-title-container {
        width: 100%;
        max-width: 700px;
        height: 100%;
        max-height: 157px;

        display: flex;
        overflow: hidden;
        flex-direction: row;
        flex-wrap: wrap;

        div {
          transition: 0.6s ease-out;
        }
      }
    }

    .benefits-content {
      max-width: 500px;
      min-height: 270px;

      font-size: 2rem;
      font-weight: 300;

      border-radius: 1rem;

      padding: 2rem;

      .benefits-content-container {
        position: relative;

        max-height: 350px;
        min-width: 450px;
        overflow: hidden;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: justify;
        div {
          height: 100%;

          transition: 0.6s ease-out;
        }
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .benefits-container::after,
  .benefits-container::before {
    color: $secondary_color_dark;
  }

  .benefits-title {
    background: linear-gradient(
      to left,
      hsl(245°, 21%, 26%),
      $primary_background_dark
    );
  }

  .benefits-content {
    background: linear-gradient(
      to right,
      hsl(245°, 21%, 26%),
      $primary_background_dark
    );
  }

  .benefits-title-container,
  .benefits-content-container {
    div {
      color: rgba($fourth_color_light, 0.8);
    }
  }
}

@media (prefers-color-scheme: light) {
  .benefits-container::after,
  .benefits-container::before {
    color: $secondary_color_light;
  }

  .benefits-title {
    background: linear-gradient(
      to left,
      rgba($third_color_light, 0.6),
      $third_color_light
    );
  }

  .benefits-content {
    background: linear-gradient(
      to right,
      rgba($third_color_light, 0.6),
      $third_color_light
    );
  }

  .benefits-title-container,
  .benefits-content-container {
    div {
      color: $primary_color_light;
    }
  }
}
