@import "../variables";

.overview-wrapper {
  .overview-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 3rem;
    margin: auto;

    width: 90%;

    .left-overview {
      font-size: 1.5rem;
      line-height: 2.5rem;
      text-align: justify;

      display: flex;
      flex-direction: column;
      justify-content: center;

      .landing-title {
        font-weight: 600;
        font-size: 6rem;

        transition: 0.6s;

        letter-spacing: 0.6rem;
      }
      .landing-subtitle {
        color: #917fb3;
        margin-top: 2rem;
        font-size: 2rem;
      }
      &::first-letter {
        font-size: 3rem;
        color: $secondary_color_dark;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .overview-wrapper {
    background: url("../../public/curve.svg") right bottom -0.5px / 100% 13% no-repeat,
      radial-gradient(
        farthest-corner at 300px 400px,
        hsl(245°, 21%, 26%),
        $primary_background_dark
      );
  }
}

@media (prefers-color-scheme: light) {
  .overview-wrapper {
    background: url("../../public/curve.svg") right bottom -0.5px / 100% 13% no-repeat,
      radial-gradient(
        farthest-corner at 300px 400px,
        $primary_background_light,
        rgba($primary_background_light, 0.3)
      );
  }
}
