@import "../variables";

.overview-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 0 auto;

  width: 90%;

  .left-overview {
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: justify;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .landing-title {
      font-weight: bold;
      font-size: 6rem;

      transition: 0.6s;

      letter-spacing: 0.6rem;
    }
    .landing-subtitle {
      color: $fourth_color;
      margin-top: 2rem;
      font-size: 2rem;
    }
    &::first-letter {
      font-size: 3rem;
      color: $secondary_color;
    }
  }
}
