@import "../variables";

.features-container {
  margin: 3rem 0;

  .features-title {
    font-size: 5rem;
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
  }
  .features-wrapper {
    // background-image: url("/TaskManagement-hero.webp");
    // background-size: contain;

    position: relative;

    box-sizing: border-box;
    width: 100%;
    padding: 2rem 2rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .features-header,
    .features-content {
      flex: 0 0 40%;
    }

    .features-header {
      transition: 1s;
      div {
        padding: 1rem 0 1rem 0;
        border-bottom: 3px solid transparent;
        cursor: pointer;
        font-weight: 300;
      }
    }

    .features-content {
      font-size: 1.5rem;
      line-height: 2.5rem;
    }
  }
}
