@import "../variables";

.features-container {
  padding: 3rem 0;

  .features-title {
    font-size: 5rem;
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
  }
  .features-wrapper {
    position: relative;

    box-sizing: border-box;

    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    .features-header,
    .features-content {
      flex: 0 0 40%;
    }

    .features-header {
      position: relative;

      padding: 0.8rem;

      box-sizing: border-box;

      border-radius: 1rem;

      transition: 1s;

      div {
        padding: 1rem 0 1rem 0;

        border-bottom: 3px solid transparent;

        cursor: pointer;

        font-weight: 300;
      }
    }

    .features-content {
      position: relative;

      height: 100%;

      display: flex;
      flex-direction: column;

      .features-image-container {
        position: relative;

        height: 50%;
        width: 100%;

        .features-image {
          display: block;
          position: relative;

          width: 100%;
          height: 100%;
          max-height: 280px;
        }
      }
      .features-explaination {
        height: 50%;

        font-size: 1.5rem;
        line-height: 2.5rem;
      }
    }
    .features-counter {
      display: none;

      div {
        transition: 0.3s;
        width: 10px;
        height: 10px;

        border-radius: 50%;

        cursor: pointer;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .features-container {
    background-color: $primary_background_dark;
  }
}

@media (prefers-color-scheme: light) {
  .features-wrapper {
    .features-content {
      .features-counter {
        div {
          border: 1px solid $primary_color_light; // ?
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .features-container {
    .features-title {
      font-size: 4.5rem;
    }

    .features-wrapper {
      .features-content {
        .features-explaination {
          font-size: 1.3rem;
          line-height: 2rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .features-container {
    .features-title {
      font-size: 4rem;
    }

    .features-wrapper {
      .features-header {
        display: none;
      }

      .features-content {
        background: rgba(255, 255, 255, 0.11);

        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(12.8px);
        -webkit-backdrop-filter: blur(12.8px);

        border-radius: 16px;
        border: 1px solid rgba(255, 255, 255, 0.83);

        padding: 1rem;
        .features-image-container {
          .features-image {
            width: 60vw;
            height: 200px;
            margin-top: 2rem;
          }
        }
        .features-explaination {
          margin-bottom: 2rem;
          height: 320px;
          overflow: hidden;
          text-align: justify;
        }
      }

      .features-counter {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .features-container {
    .features-wrapper {
      .features-content {
        margin-top: 3rem;
        .features-image-container {
          .features-image {
            width: 80vw;
          }
        }
      }
    }
  }
}
