@import "../variables";

.features-small-container {
  padding-top: 1rem;
  .features-small-title {
    font-size: 3rem;
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
  }

  .features-small-wrapper {
    width: 90%;

    margin: auto;

    position: relative;

    .features-small-image-container {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      overflow-x: hidden;
      width: 100%;
      div {
        transition: transform 0.95s cubic-bezier(0.39, 0.58, 0.57, 1);
        will-change: transform;
      }
      img {
        width: 600px;
        height: 400px;
        object-fit: contain;
      }
      // }
    }
    .features-small-content-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;

      .features-small-arrow-rotate {
        transform: rotate(180deg);
        // padding-left: 2rem;
        cursor: pointer;
      }

      .features-small-arrow-norotate {
        // padding-left: 2rem;
        cursor: pointer;
      }

      .features-small-content-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
        overflow-x: hidden;
        width: 100%;
        position: relative;
        margin: 0 auto;
        div {
          text-align: justify;
          flex: 0 0 100%;
          font-size: 1.4rem;
          line-height: 2rem;
          transition: transform 1s cubic-bezier(0.39, 0.58, 0.57, 1);
          will-change: transform;
          box-sizing: border-box;
          &:nth-of-type(n) {
            padding: 0 2rem;
          }
        }
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .features-small-container {
    background-color: $primary_background_dark;
  }
}
