@import "../variables";

.plans-wrapper {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 5rem 0;
  .plans-header {
    position: relative;
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 4.5rem;
    font-weight: 500;
    // span {
    //   font-weight: 800;
    // }
  }

  .plans-container {
    width: 100%;
    margin: 3rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    .card-wrapper {
      transition: 1s;

      &:hover {
        .plan-header-button {
          transition: 0.1s;
          visibility: hidden;
        }
      }
    }

    .plan-header-contaienr {
      .plan-header-title {
        font-size: 3rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.7rem;
        &::first-letter {
          font-weight: 600;
          font-size: 3.8rem;
        }
      }
      .plan-header-explaination {
        font-size: 1.5rem;
        font-weight: 300;
        .plan-header-button {
          // background-color: $primary_color_light;

          // width: 50%;

          font-size: 1.1rem;
          font-weight: 500;
          text-align: center;
          // color: white;

          margin: 2rem auto auto 0;
          padding: 1rem 1.5rem;

          cursor: pointer;
        }
      }
    }
    .plan-detail-contaienr {
      .plan-detail-explaination {
        font-size: 1.2rem;
        line-height: 1.8rem;
        div {
          margin-top: 1rem;
        }
      }
      .plan-more-button-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        .plan-more-button {
          // background-color: $primary_color_light;

          // width: 50%;

          font-size: 1.1rem;
          font-weight: 500;
          text-align: center;
          // color: white;

          margin: 2rem auto auto 0;
          padding: 1rem 1.5rem;

          cursor: pointer;
          transition: 1s;
        }
      }
    }
  }

  .plans-counter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    margin: 4rem auto;
    :nth-child(1),
    :nth-child(2) {
      margin-right: 1rem;
    }
    div {
      width: 40px;
      cursor: pointer;
    }
  }
}

@media (prefers-color-scheme: light) {
  .card-wrapper {
    box-shadow: 8px 11px 26px -6px $primary_color_light;
    -webkit-box-shadow: 8px 11px 26px -6px $primary_color_light;
    -moz-box-shadow: 8px 11px 26px -6px $primary_color_light;
    &:hover {
      transition: 1s;
      box-shadow: none;
    }
  }
  .plan-header-button {
    background-color: $primary_color_light;
    color: white;
  }
  .plan-more-button {
    background-color: $primary_color_light;
    color: white;
    &:hover {
      background-color: rgba($primary_color_light, 0.9);
    }
  }
}

@media (prefers-color-scheme: dark) {
  .plans-wrapper {
    background-color: $primary_background_dark;
    .card-wrapper {
      background-color: #57516d2f;
    }
  }
  .plan-header-button {
    background-color: $primary_color_light;
    color: white;
  }
  .plan-more-button {
    background-color: $primary_color_light;
    color: white;
    &:hover {
      background-color: rgba($primary_color_light, 0.9);
    }
  }
}
