@import "../variables";

.trust-wrapper {
  width: 90%;
  margin: 0 auto 3rem auto;
  position: relative;

  .quote-item-wrapper {
    width: 100%;
    height: 100%;
  }

  .quote-item-wrapper.quote-item-end {
    svg {
      float: right;
    }
  }

  .quote-item-wrapper.quote-item-start {
    svg {
      transform: rotate(180deg);
    }
  }

  .trust-container {
    position: relative;
    display: flex;
    flex-direction: row;

    .trust-item {
      position: relative;
      box-sizing: border-box;
      padding: 3rem 3rem 5rem 3rem;
      text-align: justify;
      border-radius: 2rem;
      .trust-content {
        width: 100%;
        font-weight: 400;
        font-size: 1.5rem;
      }
      .trust-quote {
        position: absolute;
        bottom: 1rem;
        font-weight: 200;
        font-size: 1.2rem;
        text-transform: capitalize;
      }
    }
  }

  .trust-container-1 {
    .trust-item.item-1 {
      min-width: 40%;
      margin-right: 2rem;
    }
    .trust-item.item-2 {
      min-width: 20%;
      margin-right: 2rem;
    }
    .trust-item.item-3 {
      min-width: 30%;
    }
  }

  .trust-container-2 {
    margin-top: 2rem;
    .item-4 {
      margin-right: 2rem;
    }
  }
}

@media only screen and (max-width: 1050px) {
  .trust-wrapper {
    .trust-container-1 {
      flex-wrap: wrap;

      .trust-item.item-1,
      .trust-item.item-2,
      .trust-item.item-3 {
        min-width: none;
        width: 100%;
      }

      .trust-item.item-1,
      .trust-item.item-2 {
        margin-right: 0;
        margin-bottom: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 1050px) {
  .trust-wrapper {
    .trust-container-2 {
      flex-wrap: wrap;

      .trust-item.item-4 {
        margin-right: 0;
        margin-bottom: 2rem;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .trust-wrapper {
    .quote-item-wrapper {
      color: $third_color_dark;
      opacity: 1;
    }
    .trust-container {
      .trust-item {
        background-color: rgba($primary_background_dark, 1);
        transition: 0.3s;
        .trust-content {
          color: white;
        }
        .trust-quote {
          color: $third_color_dark;
        }
      }
    }
  }
}

@media (prefers-color-scheme: light) {
  .trust-wrapper {
    .quote-item-wrapper {
      opacity: 0.1;
    }
    .trust-container {
      .trust-item {
        background-color: rgba($primary_background_light, 1);
        transition: 0.3s;
        .trust-content {
          color: $primary_color_light;
        }
        .trust-quote {
          color: $secondary_color_light;
        }
      }
    }
  }
}
