.signup-flex-action-container {
  position: absolute;
  bottom: 0;

  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  button {
    font-size: 1.4rem;
    width: 45%;
  }
}
