@import "../_variables.scss";

.signup-page-wrapper {
  box-sizing: border-box;

  padding-top: 2rem;

  .signup-page-logo-wrapper {
    width: 80%;

    position: relative;

    margin: auto;

    .signup-page-logo {
      margin: auto;

      height: 100%;
      width: 100%;
    }

    .signup-page-logo-subtitle {
      margin-top: 0.5rem;

      font-size: 0.7rem;
      text-align: center;
      text-transform: capitalize;
    }
  }

  .signup-title {
    position: relative;

    margin-bottom: 1rem;

    text-transform: capitalize;
    font-size: 1rem;

    &::after {
      position: absolute;

      top: 20px;
      left: 0;

      width: 50px;

      content: " ";

      border: 1px solid $primary_color_light;
    }
  }

  .signup-page-signup-form-container {
    padding: 0.5rem;

    .signup-header-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .signup-stage-holder {
        display: flex;
        flex-direction: row;

        .signup-stage-holder-num {
          width: 30px;
          height: 30px;

          border-radius: 50%;

          display: grid;
          place-content: center;

          font-size: 0.8rem;
        }

        :not(:last-child) {
          margin-right: 0.2rem;
        }
        .signup-stage-desc {
          display: none;
          width: 80%;
        }
      }

      .signup-stage-holder-item.signup-stage-holder-item-active {
        .signup-stage-holder-num {
          transition: 0.3s;
          background-color: $primary_color_light;
          color: white;
          border: 1px solid transparent;
        }

        .signup-stage-desc {
          color: $primary_color_light;
        }
      }

      .signup-stage-holder-item.signup-stage-holder-item-deactive {
        .signup-stage-holder-num {
          transition: 0.3s;
          color: $primary_color_light;
          border: 1px solid $primary_color_light;
        }
      }
    }

    form {
      position: relative;

      height: 304px;

      .signup-flex-action-container {
        position: absolute;
        bottom: 0;

        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-around;

        button {
          font-size: 1.4rem;
          width: 45%;
        }
      }

      label {
        display: block;

        margin-bottom: 0.5rem;

        font-size: 1.2rem;
        text-transform: capitalize;

        span {
          font-size: 0.8rem;
          margin-left: 0.2rem;
          vertical-align: top;
          color: #d25380;
        }
      }

      input {
        box-sizing: border-box;

        width: 100%;
        height: 40px;

        font-size: 1rem;

        padding-left: 0.5rem;

        border-radius: 0.3rem;

        &:focus {
          outline: none;
        }
      }

      select {
        width: 100%;
        height: 40px;
        font-size: 1rem;
        text-transform: capitalize;

        &:focus {
          outline: none;
        }
      }

      .signup-checkbox-container:nth-child(2) {
        margin-top: 3rem;
      }
      .signup-checkbox-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0.5rem;

        label[data-checkboxlabel*="true"] {
          font-size: 0.9rem;
          margin-bottom: 0;
        }

        input[data-checkbox*="true"] {
          width: 15px;
          height: 15px;
        }
      }

      p.signup-password-error,
      p.signup-username-error,
      p.signup-email-error,
      p.signup-passwordR-error,
      p.signup-checkbox-tos-error,
      p.signup-checkbox-updates-error {
        height: 30px;
        box-sizing: border-box;
        font-size: 0.7rem;
        font-weight: 500;
        color: white;
        text-transform: uppercase;

        background-color: #d25380;

        margin-top: 0.3rem;
        padding: 0.5rem 0.3rem;

        border-radius: 0.3rem;
      }

      .password-util {
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        font-size: 0.7rem;

        margin-top: 0.4rem;

        .signup-remember-label {
          font-size: 0.7rem;
        }

        .signup-remember-checkbox {
          width: 15px;
          height: 15px;
        }

        :nth-child(1) {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;

          cursor: pointer;

          :nth-child(1) {
            height: 15px;
            margin-bottom: 0;
          }
        }

        :nth-child(2) {
          text-transform: capitalize;
          text-decoration: underline;
          cursor: pointer;
        }
      }

      .signup-page-signup-button {
        font-size: 1.4rem;
        color: white;
        border-radius: 1rem;

        transition: 0.3s;
      }
    }

    .secondary-signup-container {
      width: 70%;

      margin: auto;

      .secondary-signup-button {
        text-transform: capitalize;
        font-size: 1.1rem;

        transition: 0.3s;

        .signup-button-flex {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          :first-child {
            margin-right: 0.2rem;
          }
        }
      }
    }

    .signup-signup-referrer-container {
      text-align: center;
      text-transform: capitalize;
      font-size: 0.7rem;

      a {
        display: inline-block;

        margin-left: 0.2rem;

        color: unset;
        text-transform: uppercase;
      }
    }
  }

  footer {
    margin-top: 4rem;
  }
}

.primary-signup-button {
  width: 100%;

  border-radius: 0.6rem;
  border: none;

  margin-top: 2rem;
  padding: 0.4rem 0.8rem;

  cursor: pointer;

  &:disabled {
    opacity: 0.2;
    cursor: default;
  }
}

@media (prefers-color-scheme: dark) {
  .signup-page-wrapper {
    background-color: $primary_background_dark;

    .signup-page-logo-wrapper {
      .signup-page-logo {
        filter: invert(1);
      }
    }

    .signup-page-signup-form-container {
      form {
        input,
        select {
          border: none;

          &:focus {
            box-shadow: 1px 8px 12px rgba(255, 255, 255, 0.1);
          }

          &:hover:not(:focus) {
            box-shadow: 1px 6px 12px rgba(255, 255, 255, 0.1);
          }
        }

        .signup-page-signup-button {
          background-color: $secondary_color_dark;

          &:hover:not(&:disabled) {
            background-color: rgba($secondary_color_dark, 0.9);
          }
        }
      }

      .signup-header-wrapper {
        .signup-stage-holder-item.signup-stage-holder-item-deactive {
          .signup-stage-holder-num {
            background-color: #1e1e1ec0;
            // border: 1px solid transparent;
          }
        }
      }

      .secondary-signup-container {
        .secondary-signup-button {
          border: 1px solid white;
          background-color: transparent;

          div {
            color: white;
          }

          &:hover {
            background-color: rgba($secondary_color_dark, 0.1);
          }
        }
      }

      .signup-signup-referrer-container {
        color: #fefefe;
      }
    }
    footer {
      border-top: 1px solid white;
    }
  }
}

@media (prefers-color-scheme: light) {
  .signup-page-wrapper {
    .signup-page-logo-wrapper {
      .signup-page-logo-subtitle {
        color: #1e1e1e;
      }
    }

    .signup-page-signup-form-container {
      form {
        input,
        select {
          border: 2px solid rgba($primary_color_light, 0.4);
          color: $primary_color_light;

          &:focus {
            border: 2px solid rgba($primary_color_light, 0.8);
          }

          &:hover:not(&:focus) {
            border: 2px solid rgba($primary_color_light, 0.5);
          }
        }

        .signup-page-signup-button {
          background-color: $primary_color_light;

          &:hover {
            background-color: rgba($primary_color_light, 0.9);
          }
        }
      }
      .signup-header-wrapper {
        .signup-stage-holder-item.signup-stage-holder-item-deactive {
          .signup-stage-holder-num {
            background-color: white;
          }
        }
      }

      .secondary-signup-container {
        .secondary-signup-button {
          border: 1px solid $primary_background_dark;
          background-color: white;

          div {
            color: $primary_background_dark;
          }

          &:hover {
            div {
              color: white;
            }

            background-color: #1e1e1e;

            border: 1px solid black;
          }
        }
      }

      .signup-signup-referrer-container {
        color: #1e1e1e;
      }
    }
  }
}

@media only screen and (min-width: 500px) {
  .signup-page-wrapper {
    .signup-page-logo-wrapper {
      width: 60%;
    }
    .signup-page-signup-form-container {
      margin: auto;
      width: 70%;
    }
    footer {
      border-top: none;
    }
  }
}

@media only screen and (min-width: 700px) {
  .signup-page-wrapper {
    .signup-page-logo-wrapper {
      width: 50%;
      .signup-page-logo-subtitle {
        margin-bottom: 0.5rem;
        font-size: 0.9rem;
      }
    }
    .signup-page-signup-form-container {
      .signup-stage-wrapper {
        height: 304px;
      }

      margin: auto;
      width: 60%;
      box-sizing: border-box;
      border-radius: 1rem;
      padding: 2rem;
      .signup-header-wrapper {
        .signup-stage-holder-item.signup-stage-holder-item-active {
          transition: 0.5s;
          transform: translateY(-0.5rem);
        }

        .signup-stage-holder-item.signup-stage-holder-item-deactive {
          transition: 0.5s;
          transform: translateY(0rem);
        }
        flex-direction: column;
        .signup-stage-holder {
          justify-content: space-around;
          margin-bottom: 1.5rem;
          margin-top: 1rem;
          .signup-stage-holder-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: unset;
          }
          .signup-stage-desc {
            display: block;
            text-align: center;
            text-transform: capitalize;
            margin-top: 0.5rem;
          }
        }
      }
    }
  }
  @media (prefers-color-scheme: dark) {
    .signup-page-wrapper {
      footer,
      .signup-page-signup-form-container {
        background-color: #1e1e1e;
      }
    }
  }
  @media (prefers-color-scheme: light) {
    .signup-page-wrapper {
      .signup-page-signup-form-container {
        background-color: #f4f4f4;
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  .signup-page-wrapper {
    .signup-page-flex-wrapper {
      display: flex;
    }
    .signup-page-logo-wrapper {
      width: 40%;
      .signup-page-logo-subtitle {
        font-size: 1.5rem;
      }
    }
    .signup-page-signup-form-container {
      margin: auto;
      width: 45%;
    }
  }
}
