.password-input-label-wrapper {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;

  div {
    height: 23.2px;
    svg {
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
