@import "../variables";
.agile-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  padding-bottom: 6rem;
  .agile-header,
  .agile-details {
    flex: 0 0 30%;
  }

  .agile-header {
    font-size: 6rem;
    font-weight: 800;
    text-transform: capitalize;
    span {
      position: relative;
      font-size: 5.5rem;
      text-transform: uppercase;

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        content: "salams";
        border-bottom: 10px solid;
        width: 100%;
        border-image-slice: 1;
      }
    }
  }

  .agile-details {
    .agile-details-explaination {
      padding-left: 2rem;
      margin-top: 2rem;
      font-size: 1.5rem;
      text-align: justify;
    }
  }
}

@media (prefers-color-scheme: light) {
  .agile-wrapper {
    background: linear-gradient(to bottom, white, $fourth_color_light);
    .agile-header {
      span {
        background: linear-gradient(
          to top right,
          $secondary_color_dark,
          $third_color_dark
        );
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        &::after {
          border-image-source: conic-gradient(
            from 0deg,
            $third_color_dark 100deg,
            $secondary_color_dark 360deg
          );
        }
      }
    }
    .agile-details {
      .agile-details-explaination {
        border-left: 10px solid $secondary_color_dark;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .agile-wrapper {
    background: linear-gradient(
      to bottom,
      rgb(66, 64, 89),
      $primary_background_dark
    );
    .agile-header {
      span {
        background: linear-gradient(
          to top right,
          $secondary_color_dark,
          $third_color_dark
        );
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        &::after {
          border-image-source: conic-gradient(
            from 0deg,
            $third_color_dark 100deg,
            $secondary_color_dark 360deg
          );
        }
      }
    }
    .agile-details {
      .agile-details-explaination {
        border-left: 10px solid $secondary_color_dark;
      }
    }
  }
}
