@import "../variables";
.agile-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;


  padding: 0 3rem 6rem;

  .agile-header,
  .agile-details {
    flex: 0 0 40%;
  }

  .agile-header {
    font-size: 6rem;
    font-weight: 800;
    text-transform: capitalize;

    span {
      position: relative;

      font-size: 5.5rem;
      text-transform: uppercase;

      // &::after {
      //   position: absolute;
      //   top: 0;
      //   left: 0;

      //   content: "salams";

      //   border-bottom: 10px solid;
      //   border-image-slice: 1;

      //   width: 100%;
      // }
    }
  }

  .agile-details {
    .agile-details-explaination {
      padding-left: 2rem;
      margin-top: 2rem;

      font-size: 1.5rem;
      text-align: justify;
    }
  }
}

@media (prefers-color-scheme: light) {
  .agile-wrapper {
    .agile-header {
      span {
        background: linear-gradient(
          to top right,
          $secondary_color_dark,
          $third_color_dark
        );
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;

        &::after {
          border-image-source: conic-gradient(
            from 0deg,
            $third_color_dark 100deg,
            $secondary_color_dark 360deg
          );
        }
      }
    }

    .agile-details {
      .agile-details-explaination {
        border-left: 10px solid $secondary_color_dark;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .agile-wrapper {
    background: linear-gradient(
      to bottom,
      rgb(66, 64, 89),
      $primary_background_dark
    );

    .agile-header {
      span {
        background: linear-gradient(
          to top right,
          $secondary_color_dark,
          $third_color_dark
        );
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;

        &::after {
          border-image-source: conic-gradient(
            from 0deg,
            $third_color_dark 100deg,
            $secondary_color_dark 360deg
          );
        }
      }
    }

    .agile-details {
      .agile-details-explaination {
        border-left: 10px solid $secondary_color_dark;
      }
    }
  }
}
@media only screen and (max-width: 1500px) {
  .agile-wrapper {
    .agile-header,
    .agile-details {
      flex: 0 0 100%;
    }

    .agile-header {
      font-size: 4rem;
      text-align: center;

      span {
        font-size: 5rem;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .agile-wrapper {
    .agile-header {
      font-size: 3rem;

      span {
        font-size: 3.5rem;
      }
    }
    .agile-details {
      .agile-details-explaination {
        font-size: 1rem;
      }
    }
  }
}
