@import "../variables";
.footer-wrapper {
  width: 100%;

  padding-top: 5rem;
}

@media (prefers-color-scheme: light) {
  .footer-wrapper {
    background-color: rgba($third_color_light, 0.2);
  }
}
@media (prefers-color-scheme: dark) {
  .footer-wrapper {
    background-color: $primary_background_dark;
  }
}
