@import "../variables";

.login-page-wrapper {
  box-sizing: border-box;

  // padding: 0.5rem;

  // height: 100vh;
  padding-top: 2rem;
  .login-page-logo-wrapper {
    width: 80%;

    position: relative;
    // box-sizing: border-box;
    margin: auto;

    .login-page-logo {
      margin: auto;

      height: 100%;
      width: 100%;
    }

    .login-page-logo-subtitle {
      margin-top: 0.5rem;

      font-size: 0.7rem;
      text-align: center;
      text-transform: capitalize;
    }
  }

  .login-title {
    position: relative;

    margin-bottom: 1rem;

    text-transform: capitalize;
    font-size: 1rem;

    &::after {
      position: absolute;

      top: 20px;
      left: 0;

      width: 40px;

      content: " ";

      border: 1px solid $primary_color_light;
    }
  }

  .login-page-login-form-container {
    padding: 0.5rem;

    form {
      label {
        display: block;

        margin-bottom: 0.5rem;

        font-size: 1.2rem;
        text-transform: capitalize;
      }

      input {
        box-sizing: border-box;

        width: 100%;
        height: 40px;

        font-size: 1rem;

        padding-left: 0.5rem;

        border-radius: 0.3rem;

        &:focus {
          outline: none;
        }
      }

      p.login-password-error,
      p.login-username-error {
        font-size: 0.7rem;
        font-weight: 500;
        color: white;
        text-transform: uppercase;

        background-color: #d25380;

        margin-top: 0.3rem;
        padding: 0.5rem 0.3rem;

        border-radius: 0.3rem;

        visibility: hidden;
      }

      .password-util {
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        font-size: 0.7rem;

        margin-top: 0.4rem;

        .login-remember-label {
          font-size: 0.7rem;
        }

        .login-remember-checkbox {
          width: 15px;
          height: 15px;
        }

        :nth-child(1) {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;

          cursor: pointer;

          :nth-child(1) {
            height: 15px;
            margin-bottom: 0;
          }
        }

        :nth-child(2) {
          text-transform: capitalize;
          text-decoration: underline;
          cursor: pointer;
        }
      }

      .login-page-login-button {
        font-size: 1.4rem;
        color: white;

        transition: 0.3s;
      }
    }

    .secondary-login-container {
      width: 70%;

      margin: auto;

      .secondary-login-button {
        text-transform: capitalize;
        font-size: 1.1rem;

        transition: 0.3s;

        .login-button-flex {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          :first-child {
            margin-right: 0.2rem;
          }
        }
      }
    }

    .login-signup-referrer-container {
      text-align: center;
      text-transform: capitalize;
      font-size: 0.7rem;

      a {
        display: inline-block;

        margin-left: 0.2rem;

        color: unset;
        text-transform: uppercase;
      }
    }
  }

  footer {
    margin-top: 4rem;
  }
}

.primary-login-button {
  width: 100%;

  border-radius: 0.6rem;
  border: none;

  margin-top: 2rem;
  padding: 0.4rem 0.8rem;

  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  .login-page-wrapper {
    background-color: $primary_background_dark;

    .login-page-logo-wrapper {
      .login-page-logo {
        filter: invert(1);
      }
    }

    .login-page-login-form-container {
      form {
        input {
          border: none;

          &:focus {
            box-shadow: 1px 8px 12px rgba(255, 255, 255, 0.1);
          }

          &:hover:not(:focus) {
            box-shadow: 1px 6px 12px rgba(255, 255, 255, 0.1);
          }
        }

        .login-page-login-button {
          background-color: $secondary_color_dark;

          &:hover {
            background-color: rgba($secondary_color_dark, 0.9);
          }
        }
      }

      .secondary-login-container {
        .secondary-login-button {
          border: 1px solid white;
          background-color: transparent;

          div {
            color: white;
          }

          &:hover {
            background-color: rgba($secondary_color_dark, 0.1);
          }
        }
      }

      .login-signup-referrer-container {
        color: #fefefe;
      }
    }
    footer {
      border-top: 1px solid white;
    }
  }
}

@media (prefers-color-scheme: light) {
  .login-page-wrapper {
    .login-page-logo-wrapper {
      .login-page-logo-subtitle {
        color: #1e1e1e;
      }
    }

    .login-page-login-form-container {
      form {
        input {
          border: 2px solid rgba($primary_color_light, 0.4);
          color: $primary_color_light;

          &:focus {
            border: 2px solid rgba($primary_color_light, 0.8);
          }

          &:hover:not(&:focus) {
            border: 2px solid rgba($primary_color_light, 0.5);
          }
        }

        .login-page-login-button {
          background-color: $primary_color_light;

          &:hover {
            background-color: rgba($primary_color_light, 0.9);
          }
        }
      }

      .secondary-login-container {
        .secondary-login-button {
          border: 1px solid $primary_background_dark;
          background-color: white;

          div {
            color: $primary_background_dark;
          }

          &:hover {
            div {
              color: white;
            }

            background-color: #1e1e1e;

            border: 1px solid black;
          }
        }
      }

      .login-signup-referrer-container {
        color: #1e1e1e;
      }
    }
  }
}

@media only screen and (min-width: 500px) {
  .login-page-wrapper {
    .login-page-logo-wrapper {
      width: 60%;
    }
    .login-page-login-form-container {
      margin: auto;
      width: 70%;
    }
    footer {
      border-top: none;
    }
  }
}

@media only screen and (min-width: 700px) {
  .login-page-wrapper {
    .login-page-logo-wrapper {
      width: 50%;
      .login-page-logo-subtitle {
        font-size: 0.9rem;
      }
    }
    .login-page-login-form-container {
      margin: auto;
      width: 60%;
      box-sizing: border-box;
      border-radius: 1rem;
      padding: 2rem;
    }
  }
  @media (prefers-color-scheme: dark) {
    .login-page-wrapper {
      footer,
      .login-page-login-form-container {
        background-color: #1e1e1e;
      }
    }
  }
  @media (prefers-color-scheme: light) {
    .login-page-wrapper {
      .login-page-login-form-container {
        background-color: #f4f4f4;
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
}
