@import "../variables";

.fast-join-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-bottom: 5rem;
  margin-top: 3rem;
  background: url("../../public/curve.svg") right bottom -0.5px / 100% 23% no-repeat,
    linear-gradient(to bottom, white, rgba($third_color_light, 0.2));

  .fast-join-title {
    color: $third_color_dark;
    font-size: 4rem;
    text-transform: capitalize;
    font-weight: 800;
    text-align: center;
  }

  .fast-join-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  .fast-join-body-left-col,
  .fast-join-body-right-col {
    flex: 0 0 40%;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 1rem;
  }

  .fast-join-body-left-col {
    .fast-join-body-left-col-title {
      font-size: 2rem;
      text-transform: capitalize;
      text-align: center;
    }
    .fast-join-body-left-col-action {
      cursor: pointer;
      width: 30%;
      margin: 2rem auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border: 2px solid $secondary_color_light;
      border-radius: 1rem;
      padding: 0.8rem 1.2rem;
      transition: 0.3s;

      .fast-join-body-left-col-action-text {
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 500;
        box-sizing: border-box;
        text-align: center;
      }

      &:hover {
        background-color: $secondary_color_light;
        transform: scale(1.1);
        div,
        svg {
          color: white;
        }
        div {
          transition: 0.3s;
          letter-spacing: 0.1rem;
        }
      }
    }
  }

  .fast-join-body-right-col {
    .fast-join-body-right-col-title {
      font-size: 2rem;
      text-transform: capitalize;
      text-align: center;
    }
    .fast-join-body-right-col-action {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 100%;
      margin: 2rem auto;
      input {
        box-sizing: border-box;
        height: 52px;
        display: block;
        padding: 0.8rem 1.2rem;
        color: $primary_color_light;

        font-size: 1.2rem;
        border: 2px solid $secondary_color_light;
        border-radius: 1rem 0 0 1rem;

        &:focus {
          outline: none;
        }
        &::placeholder {
          text-transform: capitalize;
          color: $primary_color_light;
        }
      }
      :nth-child(2) {
        border: 2px solid $secondary_color_light;
        border-left: none;
        border-radius: 0 1rem 1rem 0;
        padding: 0.8rem 1.2rem;
        font-size: 1.2rem;
        cursor: pointer;

        transition: 0.3s;
        &:hover {
          background-color: $secondary_color_light;
          color: white;
        }
      }
    }
  }
}
