@import "../variables";

.fast-join-wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  padding: 5rem 2rem 2rem;
  margin-bottom: 5rem;

  .fast-join-title {
    color: $third_color_dark;
    font-size: 4rem;
    text-transform: capitalize;
    font-weight: 800;
    text-align: center;
  }

  .fast-join-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  .fast-join-body-left-col,
  .fast-join-body-right-col {
    flex: 0 0 40%;

    padding: 1rem;
    margin-top: 2rem;

    border-radius: 1rem;
  }

  .fast-join-body-left-col {
    .fast-join-body-left-col-title {
      font-size: 2rem;
      text-transform: capitalize;
      text-align: center;
    }

    .fast-join-body-left-col-action {
      cursor: pointer;

      width: 30%;

      margin: 2rem auto;
      padding: 0.8rem 1.2rem;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      border-radius: 1rem;

      transition: 0.3s;

      .fast-join-body-left-col-action-text {
        box-sizing: border-box;

        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 500;
        text-align: center;
      }

      div {
        transition: 0.3s;
      }

      &:hover {
        transform: scale(1.1);

        div {
          letter-spacing: 0.1rem;
        }
      }
    }
  }

  .fast-join-body-right-col {
    .fast-join-body-right-col-title {
      font-size: 2rem;
      text-transform: capitalize;
      text-align: center;
    }

    .fast-join-body-right-col-action {
      position: relative;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      width: 100%;

      margin: 2rem auto;

      .fast-join-input-wrapper {
        width: 40%;

        input {
          width: 100%;
          display: block;

          box-sizing: border-box;

          height: 52px;

          padding: 0.8rem 1.2rem;

          font-size: 1.2rem;

          border-radius: 1rem 0 0 1rem;

          &:focus {
            outline: none;
          }

          &::placeholder {
            text-transform: capitalize;
          }
        }
      }

      :nth-child(2) {
        text-transform: capitalize;
        font-size: 1.2rem;

        border-radius: 0 1rem 1rem 0;

        padding: 0.8rem 1.2rem;

        cursor: pointer;

        transition: 0.3s;
      }
    }
  }
}

@media (prefers-color-scheme: light) {
  .fast-join-wrapper {
    background: url("../../public/curve.svg") right bottom -0.5px / 100% 12% no-repeat,
      linear-gradient(to bottom, white, rgba($third_color_light, 0.2));

    .fast-join-body-left-col {
      .fast-join-body-left-col-action {
        border: 2px solid $secondary_color_light;

        &:hover {
          background-color: $secondary_color_light;

          div,
          svg {
            color: white;
          }
        }
      }
    }

    .fast-join-body-right-col {
      .fast-join-body-right-col-action {
        input {
          color: $primary_color_light;

          border: 2px solid $secondary_color_light;

          &::placeholder {
            color: $primary_color_light;
          }
        }

        :nth-child(2) {
          border: 2px solid $secondary_color_light;
          border-left: none;

          &:hover {
            background-color: $secondary_color_light;
            color: white;
          }
        }
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .fast-join-wrapper {
    background: url("../../public/curve.svg") right bottom -0.5px / 100% 12% no-repeat,
      linear-gradient(
        to top,
        rgba($primary_background_dark, 0.7),
        rgba($primary_background_dark, 1)
      );

    .fast-join-title {
      border-top: 2px solid white;
    }

    .fast-join-body-left-col {
      .fast-join-body-left-col-action {
        border: 2px solid $secondary_color_dark;

        &:hover {
          background-color: $secondary_color_dark;

          div,
          svg {
            color: white;
          }
        }
      }
    }

    .fast-join-body-right-col {
      .fast-join-body-right-col-action {
        input {
          border: 2px solid $secondary_color_dark;

          color: white;
          background-color: transparent;

          &::placeholder {
            color: white;
          }
        }

        :nth-child(2) {
          border: 2px solid $secondary_color_dark;
          border-left: none;

          &:hover {
            background-color: $secondary_color_dark;
            color: white;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1115px) {
  .fast-join-wrapper {
    .fast-join-body {
      flex-direction: column;
    }

    .fast-join-body-right-col,
    .fast-join-body-left-col {
      max-width: 60%;
    }
  }
}

@media only screen and (max-width: 850px) {
  .fast-join-wrapper {
    .fast-join-title {
      font-size: 3rem;
    }

    .fast-join-body-right-col,
    .fast-join-body-left-col {
      max-width: 100%;
    }

    .fast-join-body-right-col {
      .fast-join-body-right-col-action {
        .fast-join-input-wrapper {
          width: 60%;
        }
      }
    }

    .fast-join-body-left-col {
      .fast-join-body-left-col-action {
        width: 70%;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .fast-join-wrapper {
    margin-bottom: 0;
    padding: 5rem 0.5rem 2rem;

    .fast-join-title {
      border-top: none;

      text-align: left;
      font-size: 2.5rem;

      padding-left: 1rem;
    }

    .fast-join-body-left-col,
    .fast-join-body-right-col {
      .fast-join-body-left-col-title,
      .fast-join-body-right-col-title {
        text-align: left;
        font-size: 1.5rem;
      }

      .fast-join-body-left-col-action {
        margin-left: 0;
      }

      .fast-join-body-right-col-action {
        justify-content: flex-start;
      }
    }
  }

  @media (prefers-color-scheme: dark) {
    .fast-join-wrapper {
      background: $primary_background_dark;
    }
  }

  @media (prefers-color-scheme: light) {
    .fast-join-wrapper {
      background: linear-gradient(
        to bottom,
        white,
        rgba($third_color_light, 0.2)
      );

      .fast-join-body-right-col,
      .fast-join-body-left-col {
        @include glassEffect;
      }
    }
  }
}
