$primary_color_dark: #fff9f9;
$primary_color_light: #191825;
$primary_background_dark: #191825;
$primary_background_light: #fff9f9;
$selection_light: rgb(227, 227, 227);
$selection_dark: rgb(21, 21, 21);
$secondary_color: #865dff;
$third_color: #e384ff;
$fourth_color: #ffa3fd;
