$primary_color_dark: #fff9f9;
$secondary_color_dark: #865dff;
$secondary_color_dark_high_contrast: #7142ff;
$third_color_dark: #e384ff;
$fourth_color_dark: #ffa3fd;
$primary_background_dark: #191825;
$selection_dark: rgb(21, 21, 21);

$primary_color_light: #9384d1;
$secondary_color_light: #c9a7eb;
$third_color_light: #ecc9ee;
$fourth_color_light: #ffdcb6;
$primary_background_light: #ffe5e5;
$selection_light: rgb(227, 227, 227);

@mixin glassEffect {
  backdrop-filter: blur(6px) saturate(200%);
  -webkit-backdrop-filter: blur(25px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.82);
}
