@import "./_variables.scss";

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

div[data-type*="container"].active-right {
  transform: scale(1.1) translateX(2rem);
}
div[data-type*="container"].active-left {
  transform: scale(1.1) translateX(-2rem);
}
div[data-type*="container"].active-mid {
  transform: scale(1.1);
}
div[data-type*="container"].deactive-left {
  transform: scale(0.9) translateX(-2rem);
}
div[data-type*="container"].deactive-right {
  transform: scale(0.9) translateX(2rem);
}
div[data-type*="container"].deactive-mid {
  transform: scale(0.9);
}

.deactive-large {
  display: none;
}

.benefits-counter-active {
  width: 30px;
  height: 1px;
  border-radius: 4px;
  border: 2px solid black;
}

.benefits-counter-deactive {
  width: 5px;
  height: 5px;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.features-selected {
  transition: 0.3s;
  transform: scale(1.05) translateX(0.5rem);
}

.features-not-selected {
  transition: 0.3s;
  transform: scale(1.05) translateX(-0.5rem);
}

.features-small-arrow-deactive {
  visibility: hidden;
  cursor: default !important;
}

.features-small-arrow-active {
  opacity: 1;
  cursor: pointer;
}

.signup-stage-active {
  transition: 0.3s;
  background-color: $primary_color_light;
  color: white;
  border: 1px solid $primary_color_light;
}

.signup-stage-deactive {
  transition: 0.3s;
  background-color: white;
  color: $primary_color_light;
  border: 1px solid $primary_color_light;
}

.login-username-error,
.login-password-error {
  visibility: hidden;
}

@media (prefers-color-scheme: dark) {
  div,
  h1 {
    color: $primary_color_dark;
    &::selection {
      background-color: $selection_dark;
    }
  }
  div[data-type*="counter"].active-mid,
  div[data-type*="counter"].active-left,
  div[data-type*="counter"].active-right {
    border: 3px solid $fourth_color_dark;
  }
  div[data-type*="counter"].deactive-mid,
  div[data-type*="counter"].deactive-left,
  div[data-type*="counter"].deactive-right {
    border: 3px solid $primary_color_dark;
  }

  .features-selected {
    border-bottom: 3px solid $third_color_dark !important;
    color: $third_color_dark;
  }
  .features-not-selected {
    color: rgba($primary_color_light, 0.8);
  }
  .features-counter-active {
    background-color: $third_color_dark;
  }

  .features-counter-deactive {
    background-color: white;
  }
}

@media (prefers-color-scheme: light) {
  div,
  h1 {
    color: $primary_color_light;
    &::selection {
      background-color: $selection_light;
    }
  }
  div[data-type*="counter"].active-mid,
  div[data-type*="counter"].active-left,
  div[data-type*="counter"].active-right {
    border: 3px solid $primary_color_light;
  }
  div[data-type*="counter"].deactive-mid,
  div[data-type*="counter"].deactive-left,
  div[data-type*="counter"].deactive-right {
    border: 3px solid $third_color_light;
  }
  .features-selected {
    border-bottom: 3px solid $third_color_dark !important;
    color: $third_color_dark;
  }
  .features-not-selected {
    // border-top: 2px solid $secondary_color_light;
    color: rgba($primary_color_light, 0.8);
  }
  .features-counter-active {
    background-color: $primary_color_light;
  }

  .features-counter-deactive {
    background-color: white;
  }
}

@media only screen and (max-width: 1500px) {
  div[data-type*="container"].active-right {
    transform: scale(1.05) translateX(1.7rem);
  }
  div[data-type*="container"].active-left {
    transform: scale(1.05) translateX(-1.7rem);
  }
  div[data-type*="container"].active-mid {
    transform: scale(1.05);
  }
  div[data-type*="container"].deactive-left {
    transform: scale(0.9) translateX(-1.7rem);
  }
  div[data-type*="container"].deactive-right {
    transform: scale(0.9) translateX(1.7rem);
  }
  div[data-type*="container"].deactive-mid {
    transform: scale(0.9);
  }
}

@media only screen and (max-width: 1200px) {
  div[data-type*="container"].active-right {
    transform: scale(1.05) translateX(1.5rem);
  }
  div[data-type*="container"].active-left {
    transform: scale(1.05) translateX(-1.5rem);
  }
  div[data-type*="container"].active-mid {
    transform: scale(1.05);
  }
  div[data-type*="container"].deactive-left {
    transform: scale(0.9) translateX(-1.5rem);
  }
  div[data-type*="container"].deactive-right {
    transform: scale(0.9) translateX(1.5rem);
  }
  div[data-type*="container"].deactive-mid {
    transform: scale(0.9);
  }
}

@media only screen and (max-width: 1140px) {
  div[data-type*="container"].active-right {
    transform: unset;
  }
  div[data-type*="container"].active-left {
    transform: unset;
  }
  div[data-type*="container"].active-mid {
    transform: unset;
  }
  div[data-type*="container"].deactive-left {
    transform: unset;
  }
  div[data-type*="container"].deactive-right {
    transform: unset;
  }
  div[data-type*="container"].deactive-mid {
    transform: unset;
  }
  div[data-type*="container"].deactive-large {
    display: block;
  }

  .features-selected {
    transform: scale(1.02) translateX(0.5rem);
    font-size: 1.2rem !important;
  }

  .features-not-selected {
    transform: scale(1.02) translateX(-0.5rem);
    font-size: 1.2rem !important;
  }
}

@media only screen and (max-width: 800px) {
  .features-selected {
    font-size: 1.2rem;
  }

  .features-not-selected {
    font-size: 1.1rem;
  }
}
