@import "./_variables.scss";

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.active-right {
  transform: scale(1.1) translateX(2rem);
}
.active-left {
  transform: scale(1.1) translateX(-2rem);
}
.active-mid {
  transform: scale(1.1);
}
.deactive-left {
  transform: scale(0.9) translateX(-2rem);
}
.deactive-right {
  transform: scale(0.9) translateX(2rem);
}

.deactive-large {
  display: none;
}

.benefits-counter-active {
  width: 30px;
  height: 1px;
  border-radius: 4px;
  border: 2px solid black;
}

.benefits-counter-deactive {
  width: 5px;
  height: 5px;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.features-selected {
  transition: 0.3s;
  font-size: 1.5rem;
}

.features-not-selected {
  transition: 0.3s;
  font-size: 1.4rem;
}

.signup-stage-active {
  background-color: $primary_color_light;
  color: white;
  border: 1px solid $primary_color_light;
  cursor: pointer;
}

.signup-stage-deactive {
  background-color: white;
  color: $primary_color_light;
  border: 1px solid $primary_color_light;
  cursor: no-drop;
}

@media (prefers-color-scheme: dark) {
  div,
  h1 {
    color: $primary_color_dark;
    &::selection {
      background-color: $selection_dark;
    }
  }
  .counter-active {
    border: 3px solid $fourth_color_dark;
  }
  .counter-deactive {
    border: 3px solid $primary_color_dark;
  }
  .features-selected {
    border-bottom: 3px solid $third_color_dark !important;
    color: $third_color_dark;
  }
  .features-not-selected {
    color: rgba($primary_color_light, 0.8);
  }
  .features-counter-active {
    background-color: $third_color_dark;
  }

  .features-counter-deactive {
    background-color: white;
  }
}

@media (prefers-color-scheme: light) {
  div,
  h1 {
    color: $primary_color_light;
    &::selection {
      background-color: $selection_light;
    }
  }
  .counter-active {
    border: 3px solid $primary_color_light;
  }
  .counter-deactive {
    border: 3px solid $third_color_light;
  }
  .features-selected {
    border-bottom: 3px solid $third_color_dark !important;
    color: $third_color_dark;
  }
  .features-not-selected {
    // border-top: 2px solid $secondary_color_light;
    color: rgba($primary_color_light, 0.8);
  }
  .features-counter-active {
    background-color: $primary_color_light;
  }

  .features-counter-deactive {
    background-color: white;
  }
}

@media only screen and (max-width: 1500px) {
  .active-right {
    transform: scale(1.05) translateX(1.7rem);
  }
  .active-left {
    transform: scale(1.05) translateX(-1.7rem);
  }
  .active-mid {
    transform: scale(1.05);
  }
  .deactive-left {
    transform: scale(0.9) translateX(-1.7rem);
  }
  .deactive-right {
    transform: scale(0.9) translateX(1.7rem);
  }
}

@media only screen and (max-width: 1200px) {
  .active-right {
    transform: scale(1.05) translateX(1.5rem);
  }
  .active-left {
    transform: scale(1.05) translateX(-1.5rem);
  }
  .active-mid {
    transform: scale(1.05);
  }
  .deactive-left {
    transform: scale(0.9) translateX(-1.5rem);
  }
  .deactive-right {
    transform: scale(0.9) translateX(1.5rem);
  }
}

@media only screen and (max-width: 1140px) {
  .active-right {
    transform: unset;
  }
  .active-left {
    transform: unset;
  }
  .active-mid {
    transform: unset;
  }
  .deactive-left {
    transform: unset;
  }
  .deactive-right {
    transform: unset;
  }
  .deactive-large {
    display: block;
  }
  .features-selected {
    font-size: 1.2rem;
  }

  .features-not-selected {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 800px) {
  .features-selected {
    font-size: 1.2rem;
  }

  .features-not-selected {
    font-size: 1.1rem;
  }
}
